<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recify</title>
    <%include ./Components/allLinks.ejs %>
    <link rel="stylesheet" href="../public/stylesheets/homepage.css">
</head>
<body onload="loadSliderImages()" class="hpBody">

<%include ./Components/header.ejs %>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner ">
        <div class="carousel-item active">
            <a href="http://localhost:3000/movie?id=tt4154796"><img class="d-block w-20 sliderimg" src="" alt="First slide" id="sliderimg1"></a>
            <div class="carousel-caption d-none d-md-block ">
                <h1 class="MovieName">Joker</h1>
                <h2 class="MovieYear">(2019)</h2>
                <p class="MovieCategory">Action</p>
                <button class="Morebtn"><a href="#">More Info</a></button>
                <br class="fix">
                <i class="fas fa-star fa-2x sliderratingicon"></i>
                <p id="sliderRating1" class="sliderRating">7.5/10</p>
                <i class="fas fa-thumbs-up fa-2x"></i>
                <i class="fas fa-thumbs-down fa-2x"></i>

            </div>
        </div>
        <div class="carousel-item">
           <a href="http://localhost:3000/movie?id=tt4154796"><img class="d-block w-20 sliderimg" src="" alt="Second slide"  id="sliderimg2"></a>
            <div class="carousel-caption d-none d-md-block">
                <h1 class="MovieName">Avengers</h1>
                <h2 class="MovieYear">(2018)</h2>
                <p class="MovieCategory">Action</p>
                <button class="Morebtn"><a href="#">More Info</a></button>
                <br class="fix">
                <i class="fas fa-star fa-2x sliderratingicon"></i>
                <p id="sliderRating2" class="sliderRating">7.5/10</p>
                <i class="fas fa-thumbs-up fa-2x"></i>
                <i class="fas fa-thumbs-down fa-2x"></i>

            </div>
        </div>

    </div>

    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <i class="fas fa-angle-left fa-4x ctrl"></i>
    </a>

    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <i class="fas fa-angle-right fa-4x ctrl"></i>
    </a>

</div>



<div class="BlackslidersMainDivBackground"  onmouseenter="sliderShowArrow('trenArrow')" onmouseleave="sliderHideArrow('trenArrow')">
    <div class="movieSelectionHeader">
        <div class="headerData" onmouseenter="sliderTitleHover('trenShow')" onmouseleave="sliderTitleHoverExit('trenShow')">
            <h2 id='trenTitle' class="mshTitle">Trending Movies</h2>
            <p id="trenShow" class="showMore">show more</p>
            <i class="fas fa-angle-right titleArrow" id="trenArrow"></i>
        </div>
    </div>

    <div class="carousel movieSelectionSlider"
         data-flickity='{"wrapAround": true ,"pageDots": false,"draggable": false, "cellAlign":"left"} '>
        <%imdbid_poster.forEach((movie)=>{%>
            <div class="carousel-cell">
                <a href="http://localhost:3000/movie?id=<%=movie.id%>"><img src=<%=movie.poster%>></a>
                <input type="hidden" value="">
            </div>
        <%})%>
    </div>
</div>

<div class="GreyslidersMainDivBackground"  onmouseenter="sliderShowArrow('recArrow')" onmouseleave="sliderHideArrow('recArrow')">
    <div class="movieSelectionHeader">
        <div class="headerData" onmouseenter="sliderTitleHover('recShow')" onmouseleave="sliderTitleHoverExit('recShow')">
            <h2 id='recTitle' class="mshTitle">Trending Tv Shows</h2>
            <p id="recShow" class="showMore">show more</p>
            <i class="fas fa-angle-right titleArrow" id="recArrow"></i>
        </div>
    </div>
    <div class="carousel movieSelectionSlider"
         data-flickity='{"wrapAround": true ,"pageDots": false,"draggable": false, "cellAlign":"left"} '>
        <%imdb_poster_tv.forEach((tv)=>{%>
        <div class="carousel-cell" onclick="displayMoviePage('<%=tv.id%>')">
            <a href="http://localhost:3000/movie?id=<%=tv.id%>"><img src=<%=tv.poster%>></a>
            <input type="hidden" value="">
        </div>
        <%})%>
    </div>
</div>

<%include ./Components/footer.ejs %>

<div>


</div>


<script type="text/javascript" src="../public/javascripts/homepage.js"></script>
<script type="text/javascript" src="../public/javascripts/header.js"></script>
<script src="../public/javascripts/flickity.pkgd.min.js"></script>
</body>
</html>
