<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recify</title>
    <%include ./Components/allLinks.ejs %>
    <link rel="stylesheet" href="../public/stylesheets/homepage.css">
</head>
<body  class="hpBody">

<%include ./Components/header.ejs %>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <%for(let i=1;i<top.length;i++){%>
        <li data-target="#carouselExampleIndicators" data-slide-to=<%=i%>></li>
      <%}%>
    </ol>
    <div class="carousel-inner ">
        <div class="carousel-item active">
            <a href="http://localhost:3000/movie?id=<%=top[0].id%>"><img class="d-block w-20 sliderimg" src=<%=top[0].poster%> alt="First slide" id="sliderimg1"></a>
            <div class="carousel-caption d-none d-md-block ">
                <h1 class="MovieName"><%=top[0].data.title%></h1>
                <h2 class="MovieYear"><%=top[0].data.release_date.substr(0,4)%></h2>
                <a href="http://localhost:3000/movie?id=<%=top[0].id%>"><button class="Morebtn">More Info</button></a>
                <br class="fix">
                <i class="fas fa-thumbs-up fa-2x"></i>
                <i class="fas fa-thumbs-down fa-2x"></i>

            </div>
        </div>
        <%for(let i=1;i<top.length;i++){%>
            <div class="carousel-item">
                <a href="http://localhost:3000/movie?id=<%=top[i].id%>"><img class="d-block w-20 sliderimg" src=<%=top[i].poster%> alt="Second slide"  id="sliderimg2"></a>
                <div class="carousel-caption d-none d-md-block ">
                    <h1 class="MovieName"><%=top[i].data.title%></h1>
                    <h2 class="MovieYear"><%=top[i].data.release_date.substr(0,4)%></h2>
                    <a href="http://localhost:3000/movie?id=<%=top[i].id%>"><button class="Morebtn">More Info</button></a>
                    <br class="fix">
                    <i class="fas fa-thumbs-up fa-2x"></i>
                    <i class="fas fa-thumbs-down fa-2x"></i>

                </div>
            </div>
        <%}%>
    </div>

    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <i class="fas fa-angle-left fa-4x ctrl"></i>
    </a>

    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <i class="fas fa-angle-right fa-4x ctrl"></i>
    </a>

</div>



<div class="BlackslidersMainDivBackground"  onmouseenter="sliderShowArrow('trenArrow')" onmouseleave="sliderHideArrow('trenArrow')">
    <div class="movieSelectionHeader">
        <div class="headerData" onmouseenter="sliderTitleHover('trenShow')" onmouseleave="sliderTitleHoverExit('trenShow')">
            <h2 id='trenTitle' class="mshTitle">Trending Movies</h2>
            <p id="trenShow" class="showMore">show more</p>
            <i class="fas fa-angle-right titleArrow" id="trenArrow"></i>
        </div>
    </div>

    <div class="carousel movieSelectionSlider"
         data-flickity='{"wrapAround": true ,"pageDots": false,"draggable": false, "cellAlign":"left"} '>
        <%imdbid_poster.forEach((movie)=>{%>
            <div class="carousel-cell">
                <a href="http://localhost:3000/movie?id=<%=movie.id%>"><img src=<%=movie.poster%>></a>
                <input type="hidden" value="">
            </div>
        <%})%>
    </div>
</div>

<div class="GreyslidersMainDivBackground"  onmouseenter="sliderShowArrow('recArrow')" onmouseleave="sliderHideArrow('recArrow')">
    <div class="movieSelectionHeader">
        <div class="headerData" onmouseenter="sliderTitleHover('recShow')" onmouseleave="sliderTitleHoverExit('recShow')">
            <h2 id='recTitle' class="mshTitle">Trending Tv Shows</h2>
            <p id="recShow" class="showMore">show more</p>
            <i class="fas fa-angle-right titleArrow" id="recArrow"></i>
        </div>
    </div>
    <div class="carousel movieSelectionSlider"
         data-flickity='{"wrapAround": true ,"pageDots": false,"draggable": false, "cellAlign":"left"} '>
        <%imdb_poster_tv.forEach((tv)=>{%>
        <div class="carousel-cell" onclick="displayMoviePage('<%=tv.id%>')">
            <a href="http://localhost:3000/movie?id=<%=tv.id%>"><img src=<%=tv.poster%>></a>
            <input type="hidden" value="">
        </div>
        <%})%>
    </div>
</div>

<%include ./Components/footer.ejs %>

<div>


</div>


<script type="text/javascript" src="../public/javascripts/homepage.js"></script>
<script type="text/javascript" src="../public/javascripts/header.js"></script>
<script src="../public/javascripts/flickity.pkgd.min.js"></script>
</body>
</html>
