<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recify</title>
    <%include ./Components/allLinks.ejs %>
    <link rel="stylesheet" href="../public/stylesheets/homepage.css">
</head>
<body  class="hpBody">

<%include ./Components/header.ejs %>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <%for(let i=1;i<top.length;i++){%>
        <li data-target="#carouselExampleIndicators" data-slide-to=<%=i%>></li>
      <%}%>
    </ol>
    <div class="carousel-inner ">
        <div class="carousel-item active">
            <a href="http://localhost:3000/movie?id=<%=top[0].id%>"><img class="d-block w-20 sliderimg" src='<%=top[0].poster%>' alt="<%=top[0].data.title%>" id="sliderimg1"></a>
            <div class="carousel-caption d-none d-md-block ">
                <h1 class="MovieName"><%=top[0].data.title%></h1>
                <h2 class="MovieYear"><%=top[0].data.release_date.substr(0,4)%></h2>
                <a href="http://localhost:3000/movie?id=<%=top[0].id%>"><button class="Morebtn">More Info</button></a>
                <br class="fix">

            </div>
        </div>
        <%for(let i=1;i<top.length;i++){%>
            <%if(top[i].data.release_date===undefined){
                continue;
            }%>
            <div class="carousel-item">
                <a href="http://localhost:3000/movie?id=<%=top[i].id%>"><img class="d-block w-20 sliderimg" src='<%=top[i].poster%>' alt="<%=top[0].data.title%>"  id="sliderimg2"></a>
                <div class="carousel-caption d-none d-md-block ">
                    <h1 class="MovieName"><%=top[i].data.title%></h1>
                    <h2 class="MovieYear"><%=top[i].data.release_date.substr(0,4)%></h2>
                    <a href="http://localhost:3000/movie?id=<%=top[i].id%>"><button class="Morebtn">More Info</button></a>
                    <br class="fix">
                </div>
            </div>
        <%}%>
    </div>

    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <i class="fas fa-angle-left fa-4x ctrl"></i>
    </a>

    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <i class="fas fa-angle-right fa-4x ctrl"></i>
    </a>

</div>



<div class="BlackslidersMainDivBackground">
    <div class="movieSelectionHeader">
        <div class="headerData">
            <h2 class="mshTitle">Trending Movies</h2>
        </div>
    </div>

    <div class="carousel movieSelectionSlider"
         data-flickity='{"wrapAround": true ,"pageDots": false,"draggable": true, "cellAlign":"left"} '>
        <%imdbid_poster.forEach((movie)=>{%>
            <%if(movie!==null && movie.id!==null) {%>
            <div class="carousel-cell">
                <a href="http://localhost:3000/movie?id=<%=movie.id%>"><img src=<%=movie.poster%>></a>
            </div>
        <%}})%>
    </div>
</div>

<div class="GreyslidersMainDivBackground">
    <div class="movieSelectionHeader">
        <div class="headerData">
            <h2 class="mshTitle">Trending Tv Shows</h2>
        </div>
    </div>
    <div class="carousel movieSelectionSlider"
         data-flickity='{"wrapAround": true ,"pageDots": false,"draggable": true, "cellAlign":"left"} '>
        <%imdb_poster_tv.forEach((tv)=>{%>
        <%if(tv!==null && tv.id!==null) {%>
        <div class="carousel-cell">
            <a href="http://localhost:3000/movie?id=<%=tv.id%>"><img src=<%=tv.poster%>></a>
        </div>
        <%}})%>
    </div>
</div>

<div class="BlackslidersMainDivBackground" id="recommendationsTabs">
    <div class="movieSelectionHeader">
        <div class="headerData">
            <h2 class="mshTitle">Recommended Movies</h2>
        </div>
    </div>

    <div class="carousel movieSelectionSlider"
         data-flickity='{"wrapAround": true ,"pageDots": false,"draggable": true, "cellAlign":"left"} '>
        <%movies.slice().reverse().forEach((movie)=>{%>
        <div class="carousel-cell">
            <a href="http://localhost:3000/movie?id=<%=movie.id%>"><img src=<%=movie.poster%>></a>
        </div>
        <%})%>
    </div>
</div>

<div class="GreyslidersMainDivBackground">
    <div class="movieSelectionHeader">
        <div class="headerData">
            <h2 class="mshTitle">Recommended Tv Shows</h2>
        </div>
    </div>
    <div class="carousel movieSelectionSlider"
         data-flickity='{"wrapAround": true ,"pageDots": false,"draggable": true, "cellAlign":"left"} '>
        <%series.slice().reverse().forEach((tv)=>{%>
        <div class="carousel-cell">
            <a href="http://localhost:3000/movie?id=<%=tv.id%>"><img src=<%=tv.poster%>></a>
        </div>
        <%})%>
    </div>
</div>
<%include ./Components/footer.ejs %>

<script type="text/javascript" src="../public/javascripts/homepage.js"></script>
<script type="text/javascript" src="../public/javascripts/header.js"></script>
<script src="../public/javascripts/flickity.pkgd.min.js"></script>
</body>
</html>
