<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%=movie.title%></title>
    <%include ./Components/allLinks.ejs %>
    <link rel="stylesheet" href="../public/stylesheets/moviePage.css">

  </head>
  <body onload="setupPage('<%=movie.poster%>','<%=st%>')" class="mpBody">

  <%include ./Components/header.ejs %>

<div class="container-fluid MainDiv">
  <div class="MovieData">

  <div class="PosterDiv" id="poster">
      <img src="../public/images/noposter.jpg" id="moviePoster" >


      <div id="likeDislike">
          <i class="fas fa-thumbs-up fa-3x" id="like" onclick="likeMovie('<%=movie.imdbid%>')"></i>
          <i class="fas fa-thumbs-down fa-3x" id="dislike" onclick="dislikeMovie('<%=movie.imdbid%>')"></i>
      </div>

  </div>
      <i class="far fa-play-circle fa-4x playbtn" onclick="play('<%=trailer%>')" id="playbtn"></i>

  <div class="DataDiv">

    <h1 id="movieTitle"><%=movie.title%></h1>
    <p class="Synopsis">Synopsis</p>
    <p id="plot"><%=movie.plot%></p>
    <p class="borderfix emptyP"><p>
    <p class="RunningTime">Running Time: <%=movie.runtime%></p>
    <p class="borderfix emptyP"><p>
    <p class="Genre">Genre: <%=genre%></p>
    <p class="borderfix emptyP"><p>
    <p class="Director">Director: <%=director%></p>
    <p class="borderfix emptyP"><p>
    <p class="Cast">Cast: <%=actors%></p>
    <p class="borderfix emptyP"><p>
    <p class="ReleaseDate">Release Date: <%=movie.released%></p>
    <p class="borderfix emptyP"><p>
    <p class="IMDbRating">IMdb Rating: <%=movie.imdbrating%>/10 <i class="fas fa-star RatingIcon"></i></p>
    <p class="borderfix emptyP"><p>

  </div>

   <br class="fix">


</div>
    <div class="CommentsDiv">
        <h3 class="CommnetTite CommentBorderFix">Comments (<%=comments_users%>)</h3>
        <div class="PrintedComments">
            <%users.forEach(element=>{%>
            <img class="UserImg"src="../public/images/Gender_Neutral_User_icon-icons.com_55902.png" alt="User Image" height="40" width="40">
            <p class="UserName"> <%=element.owner%></p>
            <br class="fix">
            <p class="UserComment"><%=element.content%></p>
            <%})%>
        </div>
        <div class="CommentsEntry">
            <h3 class="CommentRequestTitle CommentRequestBorderFix">Leave a comment</h3>
            <form class="Comments" action="<%=curl%>" method="post">
                <textarea class="commentarea" name="Comments"  maxlength="300" placeholder="Write Your Comment Here"></textarea>
                <br>
                <button class="Postbtn" type="submit" name="Postbtn">Post</button>
            </form>
        </div>
    </div>
<div id="hiddenTrailer">


</div>
</div>
    <%include ./Components/footer.ejs %>
<script type="text/javascript" src="../public/javascripts/header.js"></script>
<script type="text/javascript" src="../public/javascripts/moviepageposter.js"></script>
  </body>
</html>
