<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Movie page</title>
    <link rel="icon" href="../public/images/FavIcon.png" sizes="32x32">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../public/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="../public/stylesheets/mdb.min.css">
    <link rel="stylesheet" href="../public/stylesheets/moviePage.css">
    <link rel="stylesheet" href="../public/stylesheets/header.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


  </head>
  <body onload="setupPage('<%=movie.poster%>','<%=st%>')">

    <div class="header">

    <div class="logo">
        <a href="/home"><img src="../public/images/logo.png" class="headerLogo"></a>
    </div>
    <div class="NavBarContentSelection">

        <a href="#"> Movies</a>

        <div class="vl"></div>

        <a href="#">TV shows</a>
    </div>

    <div id="searchmenu">
        <div id="searchbar">
            <form class="form-inline d-flex justify-content-center md-form form-sm mt-0">
                <i class="fas fa-search" aria-hidden="true"></i>
                <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search"
                       aria-label="Search" id="searchData" onkeyup="searchMenu()">
            </form>
        </div>
        <div class="searchResult" id="searchResult">
            <div class="theResult" onclick="sendMovieId(this)">
                <img>
                <p name="test"></p>
                <input type="hidden" name="theMovieId" value="">
                <br class="fix">
            </div>

            <div class="theResult" onclick="sendMovieId(this)">
                <img>
                <p></p>
                <input type="hidden" name="theMovieId" value="">
                <br class="fix">
            </div>
            <div class="theResult" onclick="sendMovieId(this)">
                <img>
                <p></p>
                <input type="hidden" name="theMovieId" value="">
                <br class="fix">
            </div>
            <div class="theResult" onclick="sendMovieId(this)">
                <img>
                <p></p>
                <input type="hidden" name="theMovieId" value="">
                <br class="fix">
            </div>
            <div class="theResult" onclick="sendMovieId(this)">
                <img>
                <p></p>
                <input type="hidden" name="theMovieId" value="">
                <br class="fix">
            </div>
        </div>

    </div>


    <div class="NavBarMenu">

        <div class="NavBarProfileLink">
            <a href="home/signout">Sign out <i class="fa fa-user"></i></a>
            <div class="vr"></div>
            <div class="notifDiv" id="notifDiv">
                <p class="notificationP" onclick="notificationMenu()">Notifications <i class="fa fa-bell"></i>
                    <span class="NotificationBadge">3</span>
                </p>
                <br>
                <div class="notificationMenu" id="notifications">

                    <p>This is a notification</p>
                    <p>This is a a long notification</p>
                    <p>This is a notification</p>
                    <p>This is a a long notification</p>
                    <p>This is a notification</p>
                    <p>This is a a long notification........</p>
                    <p>This is a notification</p>
                    <p>This is a a long notification</p>
                    <p>This is a notification</p>
                    <p>This is a a long notification</p>
                </div>

            </div>


            <div class="vr"></div>
            <a href="#">Omar <i class="fa fa-user-circle"></i></a>

        </div>


    </div>

    <div id="sandwichMenu" class="sandwichMenu">
        <i id="sanmenu" class="fa fa-bars fa-2x" onclick="sandwich()"></i>

        <div id="smallmenu">
            <a href="#"> Movies</a>

            <a href="#">TV shows</a>

            <a href="#">omar <i class="fa fa-user-circle"></i></a>

            <p class="notificationP">Notifications <i class="fa fa-bell"></i>
                <span class="NotificationBadge">3</span>
            </p>

            <a href="home/signout">Sign out <i class="fa fa-user"></i></a>

            <div id="sbar">
                <form class="form-inline d-flex justify-content-center md-form form-sm mt-0">

                    <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search"
                           aria-label="Search">
                </form>
            </div>
        </div>

    </div>

</div>

<div class="container-fluid MainDiv">
  <div class="MovieData">

  <div class="PosterDiv" id="poster">
      <img src="../public/images/noposter.jpg" id="moviePoster" >


      <div id="likeDislike">
          <i class="fas fa-thumbs-up fa-3x" id="like" onclick="likeMovie('<%=movie.imdbid%>')"></i>
          <i class="fas fa-thumbs-down fa-3x" id="dislike" onclick="dislikeMovie('<%=movie.imdbid%>')"></i>
      </div>

  </div>
      <i class="far fa-play-circle fa-4x playbtn" onclick="play('<%=trailer%>')" id="playbtn"></i>

  <div class="DataDiv">

    <h1 id="movieTitle"><%=movie.title%></h1>
    <p class="Synopsis">Synopsis</p>
    <p id="plot"><%=movie.plot%></p>
    <p class="borderfix emptyP"><p>
    <p class="RunningTime">Running Time: <%=movie.runtime%></p>
    <p class="borderfix emptyP"><p>
    <p class="Genre">Genre: <%=genre%></p>
    <p class="borderfix emptyP"><p>
    <p class="Director">Director: <%=director%></p>
    <p class="borderfix emptyP"><p>
    <p class="Cast">Cast: <%=actors%></p>
    <p class="borderfix emptyP"><p>
    <p class="ReleaseDate">Release Date: <%=movie.released%></p>
    <p class="borderfix emptyP"><p>
    <p class="IMDbRating">IMdb Rating: <%=movie.imdbrating%>/10 <i class="fas fa-star RatingIcon"></i></p>
    <p class="borderfix emptyP"><p>

  </div>

   <br class="fix">


</div>
    <div class="CommentsDiv">
        <h3 class="CommnetTite CommentBorderFix">Comments (<%=comments_users%>)</h3>
        <div class="PrintedComments">
            <%users.forEach(element=>{%>
            <img class="UserImg"src="../public/images/Gender_Neutral_User_icon-icons.com_55902.png" alt="User Image" height="40" width="40">
            <p class="UserName"> <%=element.owner%></p>
            <br class="fix">
            <p class="UserComment"><%=element.content%></p>
            <%})%>
        </div>
        <div class="CommentsEntry">
            <h3 class="CommentRequestTitle CommentRequestBorderFix">Leave a comment</h3>
            <form class="Comments" action="<%=curl%>" method="post">
                <textarea class="commentarea" name="Comments"  maxlength="300" placeholder="Write Your Comment Here"></textarea>
                <br>
                <button class="Postbtn" type="submit" name="Postbtn">Post</button>
            </form>
        </div>
    </div>
<div id="hiddenTrailer">


</div>
</div>
<script type="text/javascript" src="../public/javascripts/header.js"></script>
<script type="text/javascript" src="../public/javascripts/moviepageposter.js"></script>
  </body>
</html>
