<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recify</title>
    <%include ./Components/allLinks.ejs %>
    <link rel="stylesheet" href="../public/stylesheets/Profile.css">

</head>
<body class="Pbody">

<%include ./Components/header.ejs %>

<div class="main">

    <div class="nav-div">
        <h3 id="profileTabLink" class="nav-menu-tabs active-tab" onclick="show(this)">Profile</h3>
        <h3 id="LikesTabLink" class="nav-menu-tabs" onclick="show(this)">Likes</h3>
        <h3 id="DislikesTabLink" class="nav-menu-tabs" onclick="show(this)">Dislikes</h3>
    </div>

    <div class="content-div profileTab-content">
        <div class="profileAndEdit">
            <div class ="profileHeader">
                <img class="ProfilePic" src="../public/images/faceorange.png">
                <input type="button" class="SBtn MBtn" value="Edit" name="submitBtn" onclick="showEditProfile()">
            </div>
            <div class="ProfileData">
                <p class="Name"><%=full%></p>
                <p class="borderfix emptyP"><p>
                <p class="Email"><%=email%></p>
                <p class="borderfix emptyP"><p>
            </div>
        </div>
        <%include ./partial/errors.ejs %>
        <div class="editProfileTab-content">
            <div>
                <form action="/profile/edit" method="post" class="EditProfile" autocomplete="off"  onsubmit="return checkForm()">
                    <div id="changeName">
                        <p onclick="displayChangeNameInput()"><i class="fas fa-address-card"></i> Change Name</p>
                    </div>
                    <div id="changeEmail">
                        <p onclick="displayChangeEmailInput()"><i class="fas fa-envelope"></i> Change Email</p>
                    </div>
                    <div id="changePassword">
                        <p onclick="displayChangePasswordInput()"><i class="fas fa-lock"></i> Change password</p>
                    </div>
                    <input type="submit" class="SBtn" value="Save changes" name="submitBtn">
                </form>
            </div>

        </div>


    </div>

    <div class="content-div LikesTab-content">
        <div class="movieSelectionHeader">
            <div class="headerData">
                <h2 class="MTVTile">Liked Movies</h2>
            </div>
        </div>
        <div class="carousel movieSelectionSlider"
             data-flickity='{"pageDots": false,"draggable": true, "cellAlign":"left", "contain":true} '>
            <%likedmovies.forEach(i=>{%>
            <%if(i!==undefined){%>
            <div class="carousel-cell">
                <a href="http://localhost:3000/movie?id=<%=i.id%>"><img src="<%=i.poster%>"/></a>
            </div>
                <%}%>
                <%});%>
        </div>

        <div class="movieSelectionHeader">
            <div class="headerData">
                <h2 class="MTVTile">Liked TV Shows</h2>
            </div>
        </div>
        <div class="carousel movieSelectionSlider"
             data-flickity='{"pageDots": false,"draggable": true, "cellAlign":"left", "contain":true} '>
            <%likedseries.forEach(i=>{%>
            <%if(i!==undefined){%>
            <div class="carousel-cell">
                <a href="http://localhost:3000/movie?id=<%=i.id%>"><img src="<%=i.poster%>"/></a>
            </div>
            <%}%>
            <%});%>
        </div>

    </div>

    <div class="content-div DislikesTab-content">
        <div class="movieSelectionHeader">
            <div class="headerData">
                <h2 class="MTVTile">Disliked Movies</h2>
            </div>
        </div>
        <div class="carousel movieSelectionSlider"
             data-flickity='{"pageDots": false,"draggable": false, "cellAlign":"left", "contain":true} '>
            <%dislikemovies.forEach(i=>{%>
            <%if(i!==undefined){%>
            <div class="carousel-cell">
                <a href="http://localhost:3000/movie?id=<%=i.id%>"><img src="<%=i.poster%>"/></a>
            </div>
            <%}%>
            <%});%>

        </div>

        <div class="movieSelectionHeader">
            <div class="headerData">
                <h2 class="MTVTile">Disliked TV Shows</h2>
            </div>
        </div>
        <div class="carousel movieSelectionSlider"
             data-flickity='{"pageDots": false,"draggable": false, "cellAlign":"left", "contain":true} '>
            <%dislikeseries.forEach(i=>{%>
            <%if(i!==undefined){%>
            <div class="carousel-cell">
                <a href="http://localhost:3000/movie?id=<%=i.id%>"><img src="<%=i.poster%>"/></a>
            </div>
            <%}%>
            <%});%>

        </div>

    </div>


</div>





<%include ./Components/footer.ejs %>
<script type="text/javascript" src="../public/javascripts/header.js"></script>
<script src="../public/javascripts/flickity.pkgd.min.js"></script>
<script src="../public/javascripts/profile.js"></script>
</body>
</html>